/*  your css code here. If applicable */
#container{
	margin:20px;
	font-size:20px;
	color:;
}
#container::before{
	content:'Before Elemen';
	color:#f00;
}
#container::after{
	content:'After Elemen';
	color:#f00;
}